<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод пароля</title>
    <link href="/projects/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <h2 class="text-center">Введите пароль</h2>
                <form action="{{ url_for('admin.show_users') }}" method="post">
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6"><button type="submit" class="btn btn-primary btn-block">Подтвердить</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
