<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод пароля</title>
    <link href="/projects/bootstrap.min.css" rel="stylesheet">
    <style>
        #sidebar {
            height: 75px;
        }
        .sidebar {
          position: fixed;
          top: 50px;
          bottom: 0;
          left: 0;
          padding: 58px 0 0;
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }
        .end_day_cell {
            border-bottom: solid 2px black;
        }
      </style>
</head>
<body>

<nav id="sidebar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#main">Данные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#workers">Работники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#workbench">Расписание</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
<div class="row">
<main class="col-md-11 ms-sm-auto col-lg-11 px-md-4" id="first-level-main"> 
    <section id="main" class="first-level-section">
        <div class="container mt-4">
            <h1>Главная</h1>

            <h3>Факультеты</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_faculty()">Добавить факультет</button>
            <script>
                flag_add_faculty = true;
                function showForm_add_faculty() {
                    if (flag_add_faculty) {
                        document.getElementById('add_faculty_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_faculty_div').style.display = 'none';
                    }
                    flag_add_faculty = !flag_add_faculty;
                }
            </script>
            <div id="add_faculty_div" style="display: none;">
                <form id="add_faculty" action="{{ url_for('projects.insert_faculty') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="faculty_name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="faculty_name" name="faculty_name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for faculty in faculties%} 
                    <tr>
                        <td>{{ faculty['name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Кафедры</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_department()">Добавить кафедру</button>
            <script>
                flag_add_department = true;
                function showForm_add_department() {
                    if (flag_add_department) {
                        document.getElementById('add_department_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_department_div').style.display = 'none';
                    }
                    flag_add_department = !flag_add_department;
                }
            </script>
            <div id="add_department_div" style="display: none;">
                <form id="add_department" action="{{ url_for('projects.insert_department') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="department_name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="department_name" name="department_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="department_faculty" class="form-label">Факультет</label>
                        <select class="form-select" id="department_faculty" name="department_faculty" required>
                            {%for faculty in faculties%} 
                                <option value="{{ faculty['id'] }}">{{ faculty["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Факультет</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for department in departments%} 
                    <tr>
                        <td>{{ department['name'] }}</td>
                        <td>{{ department['faculty_name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Специальности</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_spec()">Добавить специальность</button>
            <script>
                flag_add_scpec = true;
                function showForm_add_spec() {
                    if (flag_add_scpec) {
                        document.getElementById('add_spec_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_spec_div').style.display = 'none';
                    }
                    flag_add_scpec = !flag_add_scpec;
                }
            </script>
            <div id="add_spec_div" style="display: none;">
                <form id="add_spec" action="{{ url_for('projects.insert_spec') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="spec_name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="spec_name" name="spec_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="spec_department" class="form-label">Кафедра</label>
                        <select class="form-select" id="spec_department" name="spec_department" required>
                            {%for department in departments%} 
                                <option value="{{ department['id'] }}">{{ department["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Кафдера</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for spec in specs%} 
                    <tr>
                        <td>{{ spec['name'] }}</td>
                        <td>{{ spec['department_name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Группы</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_group()">Добавить группу</button>
            <script>
                flag_add_group = true;
                function showForm_add_group() {
                    if (flag_add_group) {
                        document.getElementById('add_group_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_group_div').style.display = 'none';
                    }
                    flag_add_group = !flag_add_group;
                }
            </script>
            <div id="add_group_div" style="display: none;">
                <form id="add_group" action="{{ url_for('projects.insert_group') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="group_name" class="form-label">Название</label>
                        <input type="text" class="form-control" id="group_name" name="group_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="group_students" class="form-label">Число студентов</label>
                        <input type="number" min="15" max="40" class="form-control" id="group_students" name="group_students" required>
                    </div>
                    <div class="mb-3">
                        <label for="group_spec" class="form-label">Специальность</label>
                        <select class="form-select" id="group_spec" name="group_spec" required>
                            {%for spec in specs%} 
                                <option value="{{ spec['id'] }}">{{ spec["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Специальность</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for group in groups%} 
                    <tr>
                        <td>{{ group['name'] }}</td>
                        <td>{{ group['spec_name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Профессорско-преподавательский состав</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_teacher()">Добавить преподавателя</button>
            <script>
                flag_add_teacher = true;
                function showForm_add_teacher() {
                    if (flag_add_teacher) {
                        document.getElementById('add_teacher_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_teacher_div').style.display = 'none';
                    }
                    flag_add_teacher = !flag_add_teacher;
                }
            </script>
            <div id="add_teacher_div" style="display: none;">
                <form id="add_teacher" action="{{ url_for('projects.insert_teacher') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="teacher_name" class="form-label">ФИО</label>
                        <input type="text" class="form-control" id="teacher_name" name="teacher_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="teacher_department" class="form-label">Кафедра</label>
                        <select class="form-select" id="teacher_department" name="teacher_department" required>
                            {%for department in departments%} 
                                <option value="{{ department['id'] }}">{{ department["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Кафдера</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for teacher in teachers%} 
                    <tr>
                        <td>{{ teacher['name'] }}</td>
                        <td>{{ teacher['department_name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Аудитории</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_aud()">Добавить аудиторию</button>
            <script>
                flag_add_aud = true;
                function showForm_add_aud() {
                    if (flag_add_aud) {
                        document.getElementById('add_aud_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_aud_div').style.display = 'none';
                    }
                    flag_add_aud = !flag_add_aud;
                }
            </script>
            <div id="add_aud_div" style="display: none;">
                <form id="add_aud" action="{{ url_for('projects.insert_aud') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="aud_name" class="form-label">Номер аудитории</label>
                        <input type="text" class="form-control" id="aud_name" name="aud_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="aud_size" class="form-label">Размер (вместимость)</label>
                        <input type="number" min="15" max="200" class="form-control" id="aud_size" name="aud_size" required>
                    </div>
                    <div class="mb-3">
                        <label for="aud_faculty" class="form-label">Факультет</label>
                        <select class="form-select" id="aud_faculty" name="aud_faculty" required>
                            {%for faculty in faculties%} 
                                <option value="{{ faculty['id'] }}">{{ faculty["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="aud_department" class="form-label">Кафедра</label>
                        <select class="form-select" id="aud_department" name="aud_department">
                            <option value="-" selected>-</option>
                            {%for department in departments%} 
                                <option value="{{ department['id'] }}">{{ department["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Факультет</th>
                        <th>Кафдера</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for aud in auds%} 
                    <tr>
                        <td>{{ aud['name'] }}</td>
                        <td>{{ aud['faculty_name'] }}</td>
                        <td>{{ aud['department_name'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <h3>Предметы</h3>
            <button class="btn btn-primary mb-3" onclick="showForm_add_subject()">Добавить предмет</button>
            <script>
                flag_add_subject = true;
                function showForm_add_subject() {
                    if (flag_add_subject) {
                        document.getElementById('add_subject_div').style.display = 'block';
                    }
                    else {
                        document.getElementById('add_subject_div').style.display = 'none';
                    }
                    flag_add_subject = !flag_add_subject;
                }
            </script>
            <div id="add_subject_div" style="display: none;">
                <form id="add_subject" action="{{ url_for('projects.insert_subject') }}" method="post">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <div class="mb-3">
                        <label for="subject_name" class="form-label">Название предмета</label>
                        <input type="text" class="form-control" id="subject_name" name="subject_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="short_name" class="form-label">Сокращение</label>
                        <input type="text" class="form-control" id="short_name" name="short_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject_group" class="form-label">Группа</label>
                        <select class="form-select" id="subject_group" name="subject_group" required>
                            {%for group in groups%} 
                                <option value="{{ group['id'] }}">{{ group["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="subject_department" class="form-label">Кафедра предмета</label>
                        <select class="form-select" id="subject_department" name="subject_department">
                            <option value="-" selected>-</option>
                            {%for department in departments%} 
                                <option value="{{ department['id'] }}">{{ department["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="subject_hours" class="form-label">Количество часов</label>
                        <select class="form-select" id="subject_hours" name="subject_hours" required>
                            <option value="72" selected>72</option>
                            <option value="108">108</option>
                            <option value="144">144</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="subject_main_techer" class="form-label">Главный преподаватель</label>
                        <select class="form-select" id="subject_main_techer" name="subject_main_techer" required>
                            {%for teacher in teachers%} 
                                <option value="{{ teacher['id'] }}">{{ teacher['department_name'] }}. {{ teacher["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="subject_second_techer" class="form-label">Дополнительный преподаватель</label>
                        <select class="form-select" id="subject_second_techer" name="subject_second_techer">
                            <option value="-" selected>-</option>
                            {%for teacher in teachers%} 
                                <option value="{{ teacher['id'] }}">{{ teacher['department_name'] }}. {{ teacher["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Группа</th>
                        <th>Название</th>
                        <th>Сокращение</th>
                        <th>Часы</th>
                        <th>Преподаватель</th>
                        <th>Второй преподаватель</th>
                        <th>Кафедра проведения</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {%for subject in subjects%} 
                    <tr>
                        <td>{{ subject['group'] }}</td>
                        <td>{{ subject['name'] }}</td>
                        <td>{{ subject['short_name'] }}</td>
                        <td>{{ subject['hours'] }}</td>
                        <td>{{ subject['main_teacher'] }}</td>
                        <td>{{ subject['second_teacher'] }}</td>
                        <td>{{ subject['department'] }}</td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Изменить</button></div>
                        </td>
                        <td>
                            <div><button class="btn btn-light btn-sm">Удалить</button></div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </section>

    <section id="workers" class="first-level-section" style="display: none;">
        <h1>Работники проекта</h1>
        <h3>Руководитель проекта:</h3>
        <p>{{ admin_name }}</p>
        <h3>Работники проекта:</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {%for worker in proj_workers%} 
                <tr>
                    <td>{{ worker['name'] }}</td>
                    <td>
                        <div><button class="btn btn-light btn-sm">Удалить</button></div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <button class="btn btn-primary mb-3" onclick="showForm_add_worker()">Добавить работника</button>
        <script>
            flag_add_worker = true;
            function showForm_add_worker() {
                if (flag_add_worker) {
                    document.getElementById('add_worker_div').style.display = 'block';
                }
                else {
                    document.getElementById('add_worker_div').style.display = 'none';
                }
                flag_add_worker = !flag_add_worker;
            }
        </script>
        <div id="add_worker_div" style="display: none;">
            <form id="add_worker" action="{{ url_for('projects.add_worker') }}" method="post">
                <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                <div class="mb-3">
                    <label for="add_worker_id" class="form-label">Работник</label>
                    <select class="form-select" id="add_worker_id" name="add_worker_id" required>
                        {%for worker in workers%} 
                            <option value="{{ worker['id'] }}">{{ worker["name"] }}</option>
                        {%endfor%}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </section>

    <section id="workbench" class="first-level-section" style="display: none;">
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebar-second" class="col-md-1 navbar-dark bg-dark sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            {%for faculty in faculties %} 
                            <li class="nav-item">
                                <a class="nav-link {% if faculty['index'] == 0 %}active{% endif %}" href="#faculty{{ faculty['id'] }}">{{ faculty["name"] }}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </nav>
                <main class="ml-sm-auto" id="second-level-main">
                    <div class="container-fluid"> 
                    <div class="row mb-2 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                <div class="col-2">
                                    <label for="subjectSelect">Выберите предмет:</label>
                                </div>
                                <div class="col-4">
                                    <select class="form-control" id="subjectSelect">
                                    {% set unique_names = [] %}
                                    {% for subject in subjects if subject['short_name'] not in unique_names %} 
                                        <option value="{{ subject['short_name'] }}">{{ subject["short_name"] }}</option>
                                        {{ unique_names.append(subject['short_name']) }}
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3 text-right mb-2">
                                    <button type="button" class="btn btn-primary mr-2" id='select_subj_button'>Выбрать</button>
                                    <button type="button" class="btn btn-secondary" id='clear_subj_button'>Сброс</button>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-check-inline float-right">
                                        <input class="form-check-input" type="radio" name="weekRadio" id="week1Radio" value="week1" checked>
                                        <label class="form-check-label" for="week1Radio">Неделя 1</label>
                                    </div>
                                    <div class="form-check form-check-inline float-right mr-3">
                                        <input class="form-check-input" type="radio" name="weekRadio" id="week2Radio" value="week2">
                                        <label class="form-check-label" for="week2Radio">Неделя 2</label>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    {%for faculty in faculties %} 
                    <section id="faculty{{ faculty['id'] }}" {% if faculty["index"] != 0 %}style="display: none;"{% endif %}>  
                        <div class="table-responsive">                          
                        <table class="table table-bordered">
                            <thead>
                                <tr class="end_day_cell">
                                    <th></th>
                                    <th></th>
                                    {%for group in groups%} 
                                    {%if group['faculty_id'] == faculty['id']%}
                                        <th class="text-center">{{ group['name'] }}</th>
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                            </thead>
                            <tbody>
                                {%for index, day in [(1,'Понедельник'), (2,'Вторник'), (3,'Среда'), (4,'Четверг'), (5,'Пятница'), (6,'Суббота')]%}
                                {%for pair_index, pair in enumerate(['1 пара [08:00 - 09:35]', '2 пара [09:50 - 11:25]', '3 пара [11:40 - 13:15]', '4 пара [13:45 - 15:20]', '5 пара [15:35 - 17:10]', '6 пара [17:25 - 19:00]', '7 пара [19:15 - 20:50]', '8 пара [21:05 - 22:35]'])%} 
                                <tr {%if pair_index == 7 %}class="end_day_cell"{%endif%}>
                                    {%if pair_index == 0 %}
                                    <td class="align-middle fit-content end_day_cell" style="writing-mode: vertical-lr; text-orientation: upright; width:40px;" rowspan="8">
                                        <b>{{ day }}</b>
                                    </td>
                                    {%endif%}
                                    <td class="fit-content" style="width: 200px;">{{ pair }}</td>
                                    {%for week in [0, 1]%}
                                    {%for group in groups%} 
                                    {%if group['faculty_id'] == faculty['id']%}
                                    <td class="fit-content week-{{ week }} schedule_cell" style="{%if week==1 %}display: none;{%endif%} align-content: center;">
                                        {%if schedule[group['name']][week][index-1][pair_index]['id'] == None%}
    <button class="btn btn-light btn-sm" onclick="show_modal({{ group['id'] }}, {{ week + 1 }}, {{ pair_index+1 }}, {{ index }})" style="width:100%">+</button>
                                        {%else%}
                                        <p class="text-center mb-0">
                                            {{schedule[group['name']][week][index-1][pair_index]['subject']}} 
                                            {{schedule[group['name']][week][index-1][pair_index]['classroom']}}
                                        </p>
                                        <p class="text-center mb-0">
                                            {{schedule[group['name']][week][index-1][pair_index]['teacher_string']|safe}}
                                        </p>
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <form action="{{ url_for('projects.del_cell') }}" method="post">
                                                        <input type="text" class="form-control" name="project_id" style="display: none;" value="{{project_id}}">
                                                        <input type="text" class="form-control" name="cell_id" style="display: none;" value="{{schedule[group['name']][week][index-1][pair_index]['id']}}">
                                                        <button type="submit" class="btn btn-light btn-sm" style="width:100%">Удалить</button>
                                                </form>
                                            </div>
                                            <div class="col-6">
                                                <form action="{{ url_for('projects.del_cell') }}" method="post">
                                                        <input type="text" class="form-control" name="project_id" style="display: none;" value="{{project_id}}">
                                                        <input type="text" class="form-control" name="cell_id" style="display: none;" value="{{schedule[group['name']][week][index-1][pair_index]['id']}}">
                                                        <button type="submit" class="btn btn-light btn-sm" style="width:100%">Изменить</button>
                                                </form>
                                            </div>
                                        </div>
                                        {%endif%}
                                    </td>
                                    {%endif%}
                                    {%endfor%}
                                    {%endfor%}
                                </tr>
                                {%endfor%}
                                {%endfor%}
                            </tbody>
                        </table>
                        </div>  
                    </section>
                    {%endfor%}
                    </div>
                    <div class="row mb-2 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                <div class="col-3 text-right mb-2">
                                    <button type="button" class="btn btn-primary mr-2" id='find_collisions_button'>Найти коллизии</button>
                                </div>
                                <div class="col-3 text-right mb-2">
                                    <form action="{{ url_for('projects.automatic_create_chedule') }}" method="post">
                                        <input type="text" class="form-control" name="project_id" style="display: none;" value="{{project_id}}">
                                        <button type="submit" class="btn btn-primary mr-2" id='create_schedule_button'>Построить расписание</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="collisions_text"></div>
                    </div>
                </main>
            </div>
        </div>
    </section>
</main>

<div class="modal fade" id="form_add_cell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить ячейку расписания</h5>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('projects.add_cell') }}" method="post" id="add_cell_form">
                    <input type="text" class="form-control" name="project_id" style="display: none;" value="{{ project_id }}">
                    <input type="text" class="form-control" name="group_id" id="group_id" style="display: none;" value="">
                    <input type="number" min="1" max="2" class="form-control" name="week" id="week" style="display: none;" value="">
                    <input type="number" min="1" max="8" class="form-control" name="pair_number" id="pair_number" style="display: none;" value="">
                    <input type="number" min="1" max="6" class="form-control" name="day_number" id="day_number" style="display: none;" value="">
                    <div class="mb-3">
                        <label for="cell_subject_name" class="form-label">Предмет</label>
                        <select class="form-select" id="cell_subject_name" name="cell_subject_name" required>
                            {%for subject in subjects%} 
                                <option value="{{ subject['id'] }}" data-group="{{ subject['group_id'] }}">
                                    {{ subject["name"] }} {{ subject['group'] }}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cell_classroom_name" class="form-label">Аудитория</label>
                        <select class="form-select" id="cell_classroom_name" name="cell_classroom_name" required>
                            {%for aud in auds%} 
                                <option value="{{ aud['id'] }}">{{ aud["faculty_name"] }}. {{ aud["name"] }}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>


<script src="./jquery-3.5.1.slim.min.js"></script>
<script src="./popper.min.js"></script>
<script src="./bootstrap_4_5_2.bundle.min.js"></script>
<script>
    $(document).ready(function() {
      $("#select_subj_button").click(function() {
        var subj = document.getElementById('subjectSelect').value;
        console.log(subj);
        $('td.schedule_cell').filter(function(){
            return $(this).text().includes(subj);
        }).css('background-color', 'yellow');
      });
      $("#clear_subj_button").click(function() {
        $('td.schedule_cell').css('background-color', 'white');
      });
      $("#week1Radio").change(function() {
        if (this.checked) {
          $(".week-1").hide();
          $(".week-0").show();
        } else {
          $(".week-1").show();
          $(".week-0").hide();
        }
      });
      $("#week2Radio").change(function() {
        if (this.checked) {
          $(".week-1").show();
          $(".week-0").hide();
        } else {
          $(".week-0").show();
          $(".week-1").hide();
        }
      });
    });
</script>
<script>
    document.getElementById("find_collisions_button").addEventListener("click", function() {
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
        if (xhr.status === 200) {
            var response = xhr.responseText;
            document.getElementById("collisions_text").innerHTML = response;
        }
    };
    xhr.open("GET", "{{ url_for('projects.find_all_collisions', project_id=project_id) }}", true);
    xhr.send();
});

</script>
<script>
    var subjects = {{ subjects|tojson }};
    var groups = {{ groups|tojson }};
    function show_modal(group_id, week, pair_number, day_number) {
        document.getElementById('group_id').value = group_id;
        document.getElementById('week').value = week;
        document.getElementById('pair_number').value = pair_number;
        document.getElementById('day_number').value = day_number;
        var innter_html = '';
        var current_group = groups.find(g => g['id'] === group_id);
        var group_name = current_group['name'];
        for (let i=0; i<subjects.length; i++) {
            if (subjects[i]["group"] == group_name) {
                innter_html += '<option value="'+subjects[i]["id"]+'" data-group="'+subjects[i]["group_id"]+'">'+subjects[i]["name"]+subjects[i]["group"]+'</option>';
            }
        }
        document.getElementById('cell_subject_name').innerHTML = innter_html;
        $('#form_add_cell').modal('show');
    }
</script>

<script>
    document.querySelectorAll('#sidebar .nav-link').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('#sidebar .nav-link').forEach(link => {
                link.classList.remove('active');
            });
            item.classList.add('active');
    
            let targetId = item.getAttribute('href');
            document.querySelectorAll('#first-level-main .first-level-section').forEach(section => {
                section.style.display = 'none';
            });
            document.querySelector(targetId).style.display = 'block';
        });
    });
    document.querySelectorAll('#sidebar-second .nav-link').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('#sidebar-second .nav-link').forEach(link => {
                link.classList.remove('active');
            });
            item.classList.add('active');
    
            let targetId = item.getAttribute('href');
            document.querySelectorAll('#second-level-main section').forEach(section => {
                section.style.display = 'none';
            });
            document.querySelector(targetId).style.display = 'block';
        });
    });
    document.querySelectorAll('.sidebar-third .nav-link').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('.sidebar-third .nav-link').forEach(link => {
                link.classList.remove('active');
            });
            item.classList.add('active');
    
            let targetId = item.getAttribute('href');
            document.querySelectorAll('.third-level-main section').forEach(section => {
                section.style.display = 'none';
            });
            document.querySelector(targetId).style.display = 'block';
        });
    });
    document.querySelectorAll('.sidebar-forth .nav-link').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('.sidebar-forth .nav-link').forEach(link => {
                link.classList.remove('active');
            });
            item.classList.add('active');
    
            let targetId = item.getAttribute('href');
            document.querySelectorAll('.forth-level-main section').forEach(section => {
                section.style.display = 'none';
            });
            document.querySelector(targetId).style.display = 'block';
        });
    });
    document.querySelectorAll('.sidebar-fifth .nav-link').forEach(item => {
        item.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelectorAll('.sidebar-fifth .nav-link').forEach(link => {
                link.classList.remove('active');
            });
            item.classList.add('active');
    
            let targetId = item.getAttribute('href');
            document.querySelectorAll('.fifth-level-main section').forEach(section => {
                section.style.display = 'none';
            });
            document.querySelector(targetId).style.display = 'block';
        });
    });
</script>

</body>
</html>
